<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.smilex.vueblog.common.dao.TagDao">
    <select id="selectTagByBlogId" resultType="Tag">
        SELECT
            m_tag.id as id,
            m_tag.`name` as name
        FROM
            m_tag
        RIGHT JOIN ( SELECT * FROM m_blogtag WHERE blogId = #{blogId} ) AS r ON m_tag.id = r.tagId
    </select>

    <delete id="batchRemoveBlogTag">
        DELETE FROM m_blogtag WHERE blogId = #{blogId} AND tagId in (${tagIdList})
    </delete>

    <insert id="batchAddBlogTag">
        INSERT INTO m_blogtag(blogId, tagId, sort)
        VALUES ${values}
    </insert>

    <insert id="batchUpdateBlogTag">
        UPDATE m_blogtag
        SET sort = CASE tagId
        ${values}
        WHERE blogId = #{blogId} AND tagId IN (${tagIdList})
    </insert>

    <delete id="batchRemoveBlogTagByBlogIdList">
        DELETE FROM m_blogtag WHERE blogId IN(${idList})
    </delete>
</mapper>